/*** Header ***/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 2;
  display: flex;
  align-items: center;

  .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: $black;
    font-weight: bold;

    i {
      color: $green;
    }
  }

  .navbar {

    a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: $black;

      &:hover {
        color: $green;
      }

      @include md {
        margin: 1rem;
        font-size: 3rem;
      }
    }

    #nav-close {
      font-size: 5rem;
      cursor: pointer;
      color: $black;
      display: none;

      @include md {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
      }
    }

    @include md {
      position: fixed;
      top: 0;
      left: -110%;
      background: $white;
      z-index: 1;
      width: 35rem;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }

    &.active {
      @include md { 
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
      }
    }
  }

  .icons a,
  .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: $black;

    &:hover {
      color: $green;
    }
  }

  #menu-btn {
    display: none;

    @include md {
      display: inline-block;
    }
  }

  @include xl {
    padding: 2rem;
  }
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform: translateY(-110%);

  &.active {
    transform: translateY(0%);  
  }

  #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: $white;
    font-size: 5rem;

    &:hover {
      color: $green;
    }
  }

  form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid $white;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      font-size: 2rem;
      color: $white;
      text-transform: none;
      background: none;
      padding-right: 2rem;

      &::placeholder {
        color: #aaa;
      }
    }

    label {
      font-size: 3rem;
      cursor: pointer;
      color: $white;

      &:hover {
        color: $green;
      }
    }
  }
}

