/*** Shop section ***/

.shop {

  .slide {
    width: 35rem;
    border: $border;

    .image {
      position: relative;
      overflow: hidden;
      height: 30rem;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}